.catagoryLanding{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.catagoryTitle{
    margin-top: 20px;
    font-size: 42px;
    line-height: 50px;
    white-space: pre-line;
    font-weight: 600;
    color: #051441;
    text-decoration: none!important;
    transition: all 0.3s ease-in-out;
}
.catagoryTitle:hover{
    color: #051441;
    font-size: 44px;
}
.catagoryAbout{
    font-size: 22px;
    line-height: 1.6;
    color: #051441;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.catagoryContent{
    margin-top: 20px;
    color: #545454;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.catagoryBox{
    width: 150px;
    height: 150px;
    margin: 5px 5px;
    background-color: rgba(205, 230, 228, 0.603);
    text-decoration: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.catagoryBox img{
    width: 100px;
    height: 100px;
}
.catagoryBox .catagoryBoxName{
    color: black;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .catagoryTitle{
        margin-top: 5px;
    }
    .catagoryLanding{
        padding-bottom: 50px;
    }
    .catagoryContent{
        margin-bottom: 20px;
    }
}

/* CATAGORY JSX */
.catagory{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
}
.catagory .container .jumbotron{
    height: 290px;
    background-image: url(../images/InfographicCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.catagory .container .jumbotron h2{
    color: white;
    font-size: 45px;
}
.catagoryFlex{
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
}
.catagoryImage{
    width: 100%;
}
@media only screen and (max-width: 500px) {
    .catagory{
        padding-top: 80px;
    }
    .catagory .container .jumbotron{
        height: 200px;
    }
    .catagory .container .jumbotron h2{
        font-size: 18px;
    }
    .catagoryTitle{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .catagoryAbout{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .catagoryContent{
        color: #545454;
        font-size: 15px;
        line-height: 28px;
    }
}