.finkarmaDailyLanding{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.finkarmaDailyLanding .card{
    cursor: pointer;
}
.dailyImg{
    width: 100%;
    margin-top: 25px;
}
.card-text{
    font-size: 13px!important;
    font-weight: 400;
}
.fdTitle{
    font-size: 42px;
    white-space: pre-line;
    font-weight: 600;
    color: #051441;
    text-decoration: none!important;
}
.fdTitle:hover{
    color: #051441;
}
.fdAbout{
    font-size: 22px;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.fdContent{
    color: #545454;
    line-height: 32px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.fdFlex{
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
    .fdFlex{
        flex-direction: row-reverse ;
    }
    .fdTitle,
    .fdAbout{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fdContent{
        margin-bottom: 20px;
    }
}

/* ============================================================================================= */
/* finkarmaDaily JSX */
.finkarmaDaily{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
}
.finkarmaDaily .container .jumbotron{
    height: 290px;
    background-image: url(../images/InfographicCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.finkarmaDaily .container .jumbotron h2{
    color: white;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


@media only screen and (max-width: 500px) {
    .finkarmaDaily{
        padding-top: 80px;
    }
    .finkarmaDaily .container .jumbotron{
        height: 200px;
    }
    .finkarmaDaily .container .jumbotron h2{
        font-size: 20px;
    }
}

