.finkarmaDailyLanding{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
.finkarmaDailyLanding .card{
    cursor: pointer;
}
.dailyImg{
    width: 100%;
    margin-top: 25px;
}
.card-text{
    font-size: 13px!important;
    font-weight: 400;
}
.fdTitle{
    font-size: 42px;
    white-space: pre-line;
    font-weight: 600;
    color: #051441;
    margin-bottom: 30px;
}
.fdAbout{
    font-size: 22px;
    line-height: 1.6;
    color: #051441;
    font-style: italic;
    margin-bottom: 20px;
}
.fdContent{
    color: #545454;
    line-height: 32px;
}
.fdFlex{
    display: flex;
    flex-direction: row-reverse ;
    flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
    .fdFlex{
        flex-direction: row-reverse ;
    }
    .fdTitle,
    .fdAbout{
        margin-bottom: 10px;
    }
    .fdContent{
        margin-bottom: 20px;
    }
}

/* ============================================================================================= */
/* finkarmaDaily JSX */
.finkarmaDaily{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
}
.finkarmaDaily .container .jumbotron{
    height: 290px;
    background-image: url(../images/InfographicCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.finkarmaDaily .container .jumbotron h2{
    color: white;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.finkarmaDaily .container .card{
    border: 0px;
    transition: all 0.3s ease-in-out;
}
.finkarmaDaily .container .card:hover{
    transform: scale(1.01) translateY(-5px);
}

@media only screen and (max-width: 500px) {
    .finkarmaDaily{
        padding-top: 80px;
    }
    .finkarmaDaily .container .jumbotron{
        height: 200px;
    }
    .finkarmaDaily .container .jumbotron h2{
        font-size: 20px;
    }
}

