.footer{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px ;
}
.SocialMediaLogo{
    width: 30px;
    height: 30px;
}
.footerBrand{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.footerAddress{
    font-size: 15px;
    font-weight: 400;
}
.footerSlogan{
    font-size: 15px;
    margin-top: 20px;
}
.playStore{
    width: 190px;
    height: 80px;
}
.ContactUs,
.ourInfo{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.gmail{
    text-decoration: none!important;
    color: #051441;
    font-size: 15px;
    font-weight: 400;
}
.tos, 
.policy{
    color: #051441;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    text-decoration: none!important;
}
.policy:hover{
    color: #051441;
    text-decoration: none!important;
}
.gmail:hover{
    color: black;
}
.followUs{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    margin-bottom: 10px;
}
.copyright{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
}

@media only screen and (max-width: 500px) {
    .footer{
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
        padding: 10px;
    }
    .footerBrand{
        font-size: 32px;
    }
    .playStore{
        margin-top: 10px;
        width: 150px;
        height: 70px;
    }
    .footerDiv{
        margin-top: 25px;
    }
    .footerSlogan{
        margin-top: 10px;
        font-size: 13px;
    }
    .gmail,
    .tos, 
    .policy{
        font-size: 13px;
    }
    .SignOffLines{
        margin-top: 10px;
        text-align: center;
        width: 100vw;
    }
    .copyright{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
    }
    .footerDivSocial{
        margin-top: 20px;
        display: flex;
        flex-direction: row ;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .followUs{
        text-align: center;
    }
}
