.header{
    height: 550px;
    width: 100vw;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.headerCorner{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.headerDot{
    position:absolute;
    top: 166px;
    left: 0px;
    z-index: 0;
}

.headerTagLine{
    font-size: 50px;
    line-height: 65px;
    color: #0f2137;
    font-weight: 700;
    margin: 120px 0px 30px 20%;
}
.headerText{
    width: 30vw;
    font-size: 20px;
    color: #343d48cc;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 20%;
}

.headerInput{
    width: 25vw;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #343d48;
    padding: 3px 15px;
    border-color: #dadada;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(233, 227, 254);
    border-radius: 10px;
    background-color: rgb(243, 242, 250);
    height: 46px;
    margin: 25px 20% ;
}
.headerButton{
    width: 25vw;
    padding: 10px 15px !important;
    font-size: 15px;
    margin: 0px 20% ;
    border-color: #00d2ff;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
}
.headerButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
/* VECTOR SECTION */
.VectorSection{
    width: 100vw;
    height: 100vh;
}
.headerCover{
    margin-top: 30px;
    margin-left: 50px;
}
.headerGraph{
    position:absolute;
    padding: 8px;
    height: 50px;
    top: 90px;
    left: 30vw;
    z-index: 2;
    animation: animateUpDown 2.5s .3s infinite alternate-reverse both;
}
.headerChat{
    position:absolute;
    height: 70px;
    top: 176px;
    left: 9vw;
    z-index: 2;
    animation: animateUpDown 1.9s .3s infinite alternate-reverse both;
}
@keyframes animateUpDown {
    0% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media only screen and (min-width: 1350px) {
    .headerCover{
        margin-top: 50px;
        margin-left: 60px;
    }
}
@media only screen and (max-width: 500px) {
    .header{
        height: 1000px;
    }
    .headerTagLine,
    .subscriberDisplay,
    .headerInput,
    .headerButton,
    .headerText{
        width: 90vw;
        margin-left: 5vw;
    }
    .subscriberDisplay{
        margin-top: 130px;
    }
    .headerCover{
        width: 100vw;
        margin: 0px;
    }
    .headerGraph{
        height: 50px;
        top: 40px;
        left: 80vw;
    }
    .headerChat{
        height: 70px;
        top: 146px;
        left: 9vw;
    }
}