.loadingAnimation{
    width: 100%;
}
.heightImageSeleton{
    width: 100%;
    height: 220px!important;
}

.skeleton{
    opacity: .7;
    animation: skeletion-loading 1s linear infinite alternate;
}

.smallCardImage{
    width: 100%;
    height: 10rem!important;
}

.skeleton-text{
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
    opacity: .7;
    animation: skeletion-loading 1s linear infinite alternate;
}
.skeleton-date{
    width: 50%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
    opacity: .7;
    animation: skeletion-loading 1s linear infinite alternate;
}
.skeleton-text:last-child{
    width: 80%;
    margin-bottom: 0;
}
.skeleton-date{
    width: 50%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
    opacity: .7;
    animation: skeletion-loading 1s linear infinite alternate;
}
@keyframes skeletion-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }
    100%{
        background-color: hsl(200, 20%, 95%);
    }
}