.seePost{
    background-color: aliceblue;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    padding-top: 100px;
}
.seePostTitle{
    font-size: 42px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    padding: 0px 100px;
}
.seePostDate{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}
.seePostImage img:nth-child(1){
    width: 100%;
    height: 500px;
    padding: 0px 100px;
}
.seePostContent{
    padding: 50px 0px 0px 0px ;
    font-size: 20px;
    color: #3c484e;
    line-height: 1.6em;
    font-weight: 400;
    font-family: Georgia,serif;
    padding: 0px 120px;
}
.seePostThank{
    font-size: 22px;
    font-family: Georgia,serif;
    color: black;
    font-weight: 700;
}
.BlogPostContent img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .seePostTitle{
        font-size: 30px;
        font-weight: 600;
        line-height: 35px;
        padding: 0px;
    }
    .seePostContent{
        padding: 0px;
    }
    .seePostImage img:nth-child(1){
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}
